.navbar {
  // background-color: var(--primary-color);
    background: linear-gradient(135deg, var(--primary-color), #ec0808);

  color: white;
  padding: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-weight: 500;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
    }
    button {
      margin-left: 10px;
    }
  }
}
.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  p {
    margin: 0;
  }
}